.JobPosting {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 32px 0;
}

.JobPosting__profile__img {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   object-fit: cover;

   /* margin-right: 15px; */
}

.JobPosting__info {
   display: flex;
   flex-direction: column;
   margin: 0 30px;
}

.job__title {
   font-size: 24px;
}

.company__name {
   font-weight: 400;
   font-size: 22px;
}

.job__location {
   font-weight: 400;
   font-size: 20px;
}

.JobPosting__time {
   font-weight: 400;
   font-size: 24px;
   margin-right: 15px;
}

.latest {
   color: #4e9e79;
}
